@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,
body {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-color: #2c3e50;
  color:#333;
}

* {
  margin: 0;
  padding: 0;
}

.intro {
  top: 0;
  font-size: 1.3em;
  text-shadow: 1px 1px 15px #000;
  color:  #149c09;
  min-height: 55vh;
  padding-top: 45vh;
  background: url(https://www.xtrafondos.com/wallpapers/montanas-minimalista-arte-low-poly-3354.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro p {
  color: #149c09;
  font-size: 1.7em;
  text-shadow: 1px 1px 15px #000;
}


/* nav style */
.navbar{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.navbar.sticky{
  padding: 10px 0;
  background: rgb(5, 5, 5);
}

.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.navbar .logo a span:hover{
  color: rgb(69, 6, 82);
}

.navbar.sticky .logo a span:hover{
  transition: all 0.5s ease;
  color: #fff;
}

.navbar .menu li{
  list-style: none;
  display: inline-block;
}

.navbar .menu li a{
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
  transition: all 0.5s ease;
}

.navbar .menu li a:hover{
  color: rgb(160, 20, 113);
  font-size: 20px;
}

.navbar.sticky .menu li a:hover{
  transition: all 0.5s ease;
  color: #fff;
}

/* meno btn */

.menu-btn{
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  background: rgb(49, 8, 49);
  left: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;    

}

/* aboutme start */
section{
  padding: 100px ;
  background: #2c3e50;
  color: #fff;
}
 
section .tittle{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
 
}
 
section .tittle::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 190px;
  height: 3px;
 
  transform: translateX(-50%);
}
 
section .tittle::after{
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: rgb(245, 245, 248);
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}
 
 
section .about-conten{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-conten .left img{
  height: 300px;
  width: 300px;      
  object-fit: cover;  
  
}
 
.about .about-conten .right{
  width: 50%;
}
 
.about .about-conten .right .text{
  font-size: 30px;
  font-weight: 600;
   margin-bottom: 15px;
}
 
.about .about-conten .right .text span{
    color: rgb(4, 255, 109);
}
 
.about .about-conten .right p{
    text-align: justify;
}
 
.about .about-conten .right a{
    display: inline-block;
    background: rgb(4, 255, 109);
    color: rgb(7, 7, 7);
    font-size: 25px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid rgb(4, 255, 138);
    transition: all 0.5s ease;
}
 
.about .about-conten .right a:hover{
    color: rgb(129, 136, 175);
    background: none;
 
}
/*habilidades*/

  

.skill{
  background: #222;


}

.skill .skill-content .column{
  width: calc(50% - 30px);
}

.skill .skill-content .left .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}   

.skill .skill-content .right .bar{
  margin-bottom: 15px;
}

.skill .skill-content .right .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  padding: 10px 15px;

}

.skill .skill-content .right span{
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.skill .skill-content .right .line{
  height: 5px;
  width: 100%;
  background: lightgray;
  position: relative;
}

.skill .skill-content .right .line::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(33, 255, 4);    
}

.skill-content .right .mysql::before{
  width: 80%;
}

.skill-content .right .cms::before{
  width: 85%;
}

.skill-content .right .cshap::before{
  width: 95%;
}

.skill-content .right .python::before{
  width: 40%;
}


.skill-content .right .html::before{
  width: 60%;
}

.skill-content .right .css::before{
  width: 55%;
}

/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1050px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #fff;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #000000;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #000000;
	font-size: 14px;
	margin-bottom: 5px;
    text-align: justify;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}

/*Fin-Cards*/



.contact {
  /*   height:800px; */
  /*   min-height:800px; */
  background: #333;
  color: #2ecc71;
  padding-bottom: 160px;
}

.header {
  padding: 160px 0 110px;
}


.contact-details:hover {
  background: #E4F1FE;
  color: green;
}
/*-- Soc --*/

.fa-bold{
  color: #563d7c;
}
.fa-css3{
  color: #2163af;
}
.fa-code, .fa-bold,.fa-css3 {
  font-size: 4em;
  margin: 1rem;
}

.social a{
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook{
  color:#8b9dc3;
}

.fa-instagram {
  color:#a53cc4;
}

.fa-whatsapp{
  color:#149c09;
}


.fa-facebook:hover,
.fa-instagram:hover,
.fa-whatsapp:hover
{
  color:#ffffff;
}

/*-- Foooter --*/
footer {
  padding: 20px;
  background: #000000;
  color: white;
  line-height: 40px;
}

footer a {
  color: white;
}

/* responsive style */
@media (max-width: 1300px){ 
  .home .max-width{
      margin-left: 0;
  }
}

@media (max-width: 1104px){ 
  .about .about-conten .left img{
      height: 350px;
      width: 350px;      
  }
}

@media (max-width: 991px){ 
  .max-width{
      padding: 0 50px
  }
}

@media (max-width: 947px){ 
  .menu-btn{
      display: block;
      z-index: 999;
  }

  .menu-btn i.active::before{
      content: "\f00d";
  }

  .navbar .menu{
      position: fixed;
      height: auto;
      width: 100%;
      left: 0;
      top: -100%;
      background: #222;
      text-align: center;
      padding-top: 15px;
      transition: all 0.5s ease;
  }

  .navbar .menu.active{
      top: 0;
  }

  .navbar .menu li{
      display: block;
  }

  .navbar .menu li a{
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
  }


  .max-width{
      max-width: 800px;
  }

  .about .about-conten .column{
      width: 100%;
  }

  .about .about-conten .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }

  .about .about-conten .right{
      flex: 100%;
  }


  .skill .skill-content .column{
      width: 100%;
      margin-bottom: 35px;
  }

}

@media (max-width: 690px){ 
  .max-width{
      padding: 0 23px
  }
  .skill .skill-content .column{
      width: 100%;
  }
}


@media only screen and (min-width:200px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 20px;
	}
}



